*.iml
.gradle
.idea
.DS_Store
/build
/androidApp/build
/androidApp/release
/androidApp/debug
/androidApp/gradle.properties
output-metadata.json
/captures
.externalNativeBuild
.cxx
local.properties
.project
Notes.md
