*.iml
.gradle
.idea
.DS_Store
.run

/build

/androidApp/build
/androidApp/release
/androidApp/debug
/androidApp/gradle.properties

/shared/build

xcuserdata/

output-metadata.json
/captures
.externalNativeBuild
.cxx
local.properties
.project
Notes.md
