*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/buildSrc/build
/app/build
/app/release
/app/debug
/app/gradle.properties
output-metadata.json
/captures
.externalNativeBuild
.cxx
local.properties
logs
