<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goldenraven.padawanwallet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".PadawanWalletApplication"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_padawan_white"
        android:roundIcon="@mipmap/ic_padawan_white"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.PadawanWallet.Launcher">

        <activity
            android:name=".PadawanActivity"
            android:theme="@style/Theme.PadawanWallet"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
